<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

    <header class="w3-container w3-center w3-padding-32">
        <h1><b th:object="${user}" th:text="${user.name}"></b></h1>
        <h4><b th:object="${user}" th:text="${user.roles}"></b></h4>

        <h5 class="w3-tag">Department : <span class="w3-tag" th:object="${user}" th:text="${user.department}"></span></h5>
    </header>



            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                    <h3><b>Update Your Account Information</b></h3>
                </div>
                <div class="w3-container">
                        <form  method="post" style="align-items: center" >
                            <input type="hidden" th:field="${user.id}"/>
                            <div class="m-3">
                                <div class="form-group row">
                                    <label class="col-form-label col-4">E-Mail</label>
                                    <div class="col-8">
                                        <input type="email" class="form-control" th:field="${user.email}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-4">Name</label>
                                    <div class="col-8">
                                        <input type="email" class="form-control" th:field="${user.name}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-4">Department : </label>
                                <div class="col-8">
                                        <input style="border: none"  class="m-2" type="text" readonly th:field="${user.department}" >-
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-4">Roles : </label>
                                    <div class="col-8">
                                            <input style="border: none" class="radio" type="text" readonly th:field="${user.roles}">
                                    </div>
                                    <div class="form-group row">
                                        <p><button class="w3-button w3-padding-large w3-white w3-border" type="submit"><b>Update</b></button></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        </div>
    </div><br>
</div>


</body>
</html>
</title>
</head>
<body>

</body>
</html>