<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Personel Yönetim Sistemi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" th:href="@{/css/Home.css}">

<body>
<div class="bgimg w3-display-container w3-text-white"></div>
<div class="w3-display-middle w3-jumbo">
    <p>Hoşgeldiniz</p>
</div>
<div id="container" class="w3-display-topleft w3-container w3-xlarge">
    <p><a href="/" class="w3-button w3-black">AnaSayfa</a></p>
    <p><a href="/personnel/login" class="w3-button w3-black">Personel Giriş</a></p>
    <p><a href="/dashboard/login" class="w3-button w3-black">Dashboard</a></p>
</div>

</body>
</html>

